#tablero {
    display: grid;
    margin:0 auto;
    padding:50px;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width:400px;
    height:200px;
}

#tablero div {
    background-color: lightblue;
    border: 1px solid black;
    
}
body {
    text-align: center;
}